# How to calculate summary statistics?

Follow along with this [article](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/06_calculate_statistics.html). The data set from the article has been included in the repository already, no need to download separately. This notebook will also contain some supplemental information to help you better understand basic summary statistics.

First thing we want to do is to import the pandas library.

In [1]:
# import the pandas library and use the alias 'pd'

import pandas as pd

We are going to be working with the titanic dataset found [here.](https://github.com/pandas-dev/pandas/blob/master/doc/data/titanic.csv) It is in csv format and consists fo the following data columns:


- PassengerId: Id of every passenger.
- Survived: Value of 0 for not survived and 1 for survived.
- Pclass: There are 3 classes: Class 1, Class 2 and Class 3.
- Name: Name of passenger.
- Sex: Gender of passenger.
- Age: Age of passenger.
- SibSp: Number of siblings / spouses on the Titanic
- Parch: Number of parents / children on the Titanic
- Ticket: Ticket number of passenger.
- Fare: Indicating the fare.
- Cabin: The cabin of passenger.
- Embarked: Port of Embarkation ( C = Cherbourg, Q = Queenstown, S = Southampton)

Let's load the data into a data frame and see what the data looks like. Since your csv file is in a folder named data, the path syntex is: data/your_data_set_name.csv to read your data into a data frame.

In [8]:
#read titantic data set into a data frame
import pandas as pd

df = pd.read_csv('titanic.csv')
print(df.columns)

#although we listed the column names above, write the code to return the name of all of your columns in the dataset

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
# print the first 5 rows from the dataframe

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

What are some of your observations from looking at the data so far? Questions you would like to explore?

For example: I noticed that Survived is an int instead of Yes or No, not sure if I'll need to address that while data cleaning. I'm curious if the amount you paid for your ticket(Fare) impacted your survival rate?
<br><br><br><br><br>

In [14]:
import pandas as pd

df = pd.read_csv('titanic.csv')
print(df.info())
#name of the column, Non-null Count meaning how many non-null values their are in that column and Dtype
#int64 means int value, float64 means float value, object means string value.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

By default statistical anaysis is run on numerical values.  

Looking at the data above what do you notice about Age? Cabin? Hint: It would appear we are missing some data. How might these observations influence the questions asked?<br><br>

Any other observations?
<br><br><br>

## Aggregating statistics

### Calculating Mean, Median, Mode

#### Mean: is the sum of the values divided by the number of values.

In [16]:
#What is the mean age of the Titanic passengers?

mean_age = df['Age'].mean()
print('Mean Age', mean_age)

Mean Age 29.69911764705882

We can also get the mean for all columns.

In [28]:
#mean for all columns
import pandas as pd

df = pd.read_csv('titanic.csv')

df.mean()

/var/folders/kp/pfm6hvy57p79mkx_vbykvfd00000gn/T/ipykernel_12542/2697054792.py:6: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

#### Median: Is the middle value when all the numbers are put in order, dividing the sample into two halves.  

Example: (23, 46, 55, 78, 99)<br> 
The Median of the above example is 55.

In [ ]:
# What is the median age and ticket fare price of the Titanic passengers?

#### Mode: The most frequent value(s) in a sample

In [29]:
# What is the mode age and fare for the titanic dateset?

median_age = df['Age'].median()
median_fare = df['Fare'].median()

print("Median age:", median_age)
print("Median fare:", median_fare)

Median age: 28.0
Median fare: 14.4542

Note the difference between Mean, Medium and Mode.  Why is this important? Can you think of times you would what to use one over the others?<br><br><br><br><br>

We can use the .describe() funciton to display some basic statistics for all numeric columns:

In [30]:
# Summary statistics for all columns in a dataset

print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [31]:
# Summary statistics for just the Age and Fare columns

print(df[['Age', 'Fare']].describe())

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

Notice that medium and mode are not included in .describe()

Instead of the predefined statistics, specific combinations of aggregating statistics for given columns can be defined using the [DataFrame.agg() method:](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html#pandas.DataFrame.agg)

In [32]:
#use .agg

df[['Age', 'Fare']].agg(['mean', 'median', 'std', 'min', 'max'])

              Age        Fare
mean    29.699118   32.204208
median  28.000000   14.454200
std     14.526497   49.693429
min      0.420000    0.000000
max     80.000000  512.329200

## Aggregating statistics grouped by category

Calculating a given statistic (e.g. mean age) for each category in a column (e.g. male/female in the Sex column) is a common pattern. The groupby method is used to support this type of operations.

In [34]:
# What is the average age for male versus female Titanic passengers?

mean_age_by_sex = df.groupby('Sex')['Age'].mean()
print(mean_age_by_sex)

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [35]:
# What is the survival of men verses female Titanic Passengers? 

survival_rate_by_gender = df.groupby('Sex')['Survived'].mean()
print(survival_rate_by_gender)

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [37]:
# Try some other combinations, what do you think about this method?

In the previous examples, we explicitly selected the 2 columns first. If not, the mean method is applied to each column containing numerical columns:

In [38]:
#use .groupby Sex and .mean

df.groupby('Sex').agg({'Age': 'mean', 'Survived': 'mean'})

              Age  Survived
Sex
female  27.915709  0.742038
male    30.726645  0.188908

It does not make much sense to get the average value of the Pclass. if we are only interested in the average age for each gender, the selection of columns (rectangular brackets [] as usual) is supported on the grouped data as well:

In [39]:
#use .goupby Sex just for Age 

age_by_sex = df.groupby('Sex')['Age'].mean()
print(age_by_sex)

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [41]:
# What is the mean ticket fare price for each of the sex and cabin class combinations?

fare_by_sex_class = df.groupby(['Sex', 'Pclass'])['Fare'].mean()
print(fare_by_sex_class)

Sex     Pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
Name: Fare, dtype: float64

In [43]:
# Try some other combinations, what do you think about this method?

## Count number of records by category

The value_counts() method counts the number of records for each category in a column.

In [44]:
# What is the number of passengers in each of the cabin classes?


passengers_by_class = df['Pclass'].value_counts()
print(passengers_by_class)

3    491
1    216
2    184
Name: Pclass, dtype: int64

The function is a shortcut, as it is actually a groupby operation in combination with counting of the number of records within each group:

In [45]:
#Count the number of passengers by cabin classes using groupby

passengers_by_class = df.groupby('Pclass')['Name'].count()

print(passengers_by_class)

Pclass
1    216
2    184
3    491
Name: Name, dtype: int64

In [ ]:
# Using the value_counts method what else could you count?

# of passengers by status
# of passengers who survived vs. who did not survive
# of passengers who paid a certain fare amount